[monitoring]
account_id = 982512336538
profile = monitoring
region = us-east-1

[application]
account_id = 975049940689
profile = application
region = us-east-1

[defaults]
app_name = TestApp
environment = dev

# Optional: Uncomment to enable alarms
# alarm_topic_arn = arn:aws:sns:us-east-1:982512336538:monitoring-alerts
